/* Match the height and padding to the dimensions of the graphical links.  */
a.bonzi_learnmore,
a.bonzi_readmore {
  height: 22px;
  width: 0;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  padding-left: 127px;
}

a.bonzi_readmore {
  background-image: url("../../images/read_more.png");
}

a.bonzi_learnmore {
  background-image: url("../../images/learn_more.png");
}