/* << ----------------// General Styles //---------------->> */
@import url(../../css/fonts.css);

body {
  margin: 10px 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #000000;
  background: url("../../images/bg.png");
}

address,
blockquote,
body,
center,
dd,
dir,
div,
dl,
dt,
fieldset,
form,
frame,
frameset,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
menu,
noframes,
ol,
p,
pre,
ul {
  display: block;
}

li {
  display: list-item;
}

head {
  display: none;
}

table {
  display: table;
}

tr {
  display: table-row;
}

thead {
  display: table-header-group;
}

tbody {
  display: table-row-group;
}

tfoot {
  display: table-footer-group;
}

col {
  display: table-column;
}

colgroup {
  display: table-column-group;
}

td,
th {
  display: table-cell;
}

caption {
  display: table-caption;
}

th {
  font-weight: bolder;
  text-align: center;
}

caption {
  text-align: center;
}

body {
  margin: 8px;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

h2 {
  font-size: 1.5em;
  margin: .75em 0;
}

h3 {
  font-size: 1.17em;
  margin: .83em 0;
}

blockquote,
dir,
dl,
fieldset,
form,
h4,
menu,
ol,
p,
ul {
  margin: 1.12em 0;
}

h5 {
  font-size: .83em;
  margin: 1.5em 0;
}

h6 {
  font-size: .75em;
  margin: 1.67em 0;
}

b,
h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: bolder;
}

blockquote {
  margin-left: 40px;
  margin-right: 40px;
}

address,
cite,
em,
i,
var {
  font-style: italic;
}

code,
kbd,
pre,
samp,
tt {
  font-family: monospace;
}

pre {
  white-space: pre;
}

button,
input,
select,
textarea {
  display: inline-block;
}

big {
  font-size: 1.17em;
}

small,
sub,
sup {
  font-size: .83em;
}

sub {
  vertical-align: sub;
}

sup {
  vertical-align: super;
}

del,
s,
strike {
  text-decoration: line-through;
}

hr {
  border: 1px inset;
}

dd,
dir,
menu,
ol,
ul {
  margin-left: 40px;
}

ol {
  list-style-type: decimal;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

ins,
u {
  text-decoration: underline;
}

br:before {
  content: "\A";
  white-space: pre-line;
}

:link,
:visited {
  text-decoration: underline;
}

:focus {
  outline: none;
}

/* Begin bidirectionality settings (do not change) */
BDO[DIR="ltr"] {
  direction: ltr;
  unicode-bidi: bidi-override;
}

BDO[DIR="rtl"] {
  direction: rtl;
  unicode-bidi: bidi-override;
}

*[DIR="ltr"] {
  direction: ltr;
  unicode-bidi: embed;
}

*[DIR="rtl"] {
  direction: rtl;
  unicode-bidi: embed;
}
@media print {
  h1 {
    page-break-before: always;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
  }

  dl,
  ol,
  ul {
    page-break-before: avoid;
  }
}

a:link {
  color: #000000;
  text-decoration: underline;
}

a:visited {
  color: #333333;
  text-decoration: underline;
}

a:hover {
  color: #000000;
  text-decoration: none;
}

a:active {
  color: #000000;
  text-decoration: underline;
}

/* << ----------------// Outer container that holds all the columns //---------------->> */

.mainContainer {
  margin: 0 auto;
  padding: 0;
  width: 1000px;
  position: relative;
}

/* << ----------------// Header //---------------->> */

.header {
  height: 150px;
  background: url("../../images/header.png");
  position: relative;
  margin: 0 auto;
  padding: 0;
}

.header_home_link {
  width: 1000px;
  height: 150px;
  float: left;
}

.hdr_name {
  display: none;
}

.member_login {
  display: block;
  position: absolute;
  top: 150px;
  left: 0;
  height: 40px;
  width: 200px;
}

/* << ----------------// Body //---------------->> */

.content_bg {
  background: url("../../images/content_bg.png");
  background-color: #FFF;
  width: 1000px;
  clear: both;
}

/* << ----------------// Vertical navigation //---------------->> */
.v_nav_top {
  height: 25px;
  width: 200px;
  background: url("../../images/v_nav_top.png");
  display: none;
}

.v_nav_btm {
  height: 25px;
  width: 200px;
  background: url("../../images/v_nav_btm.png");
  display: none;
}

/* Front Menu Global Styles */

.nav {
  margin: 0 0 10px;
}

ul.cssMenu,
ul.cssMenu ul {
  list-style: none;
  list-style-position: outside;
  /* IE decides to disregard list-style: none, so this is needed to override sam_default.css */
  margin: 0;
  padding: 0;
}

ul.cssMenu ul {
  display: none;
  position: absolute;
  margin-right: 0;
  z-index: 400;
}

/* style for all buttons */
ul.cssMenu li {
  margin: 0;
  padding: 0;
  border: none;
  float: left;
  background-image: url("../../images/v_nav_up.png");
  background-repeat: no-repeat;
  width: 200px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  text-indent: 10px;
  text-align: left;
  position: relative;
  background-color: transparent;
  cursor: default;
  z-index: 750;
}

ul.cssMenu li .button-text {
  background-color: transparent;
  display: block;
  font-size: 12px;
}

ul.cssMenu li a:hover,
ul.cssMenu li.over .button-text {
  color: inherit;
  font-family: inherit;
  font-size: 12px;
  font-weight: inherit;
}

ul.cssMenu li a {
  display: block;
  color: inherit;
  text-decoration: none;
  width: 100%;
  height: 100%;
}

ul.cssMenu li.over,
ul.cssMenu li:hover {
  background-color: transparent;
  background-image: url("../../images/v_nav_ovr.png");
  background-repeat: no-repeat;
}

ul.cssMenu:after {
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* style for buttons in a sub menu */
ul.cssMenu li li {
  background-image: none;
  border: none;
  background-color: #ddd;
  z-index: 1000;
  top: 2px;
}

ul.cssMenu li li.over,
ul.cssMenu li li:hover {
  background-image: none;
  background-color: #ccc;
}

ul.cssMenu ul li {
  display: block;
}

/*
* Hide sub menus that are not hovered over.
* It only works for 5 levels deep.  If for some reason you need
* more, add more here
*/
.no-touch ul.cssMenu li:hover li:hover li:hover ul ul,
.no-touch ul.cssMenu li:hover li:hover ul ul,
.no-touch ul.cssMenu li:hover ul ul,
ul.cssMenu li.over li.over li.over ul ul,
ul.cssMenu li.over li.over ul ul,
ul.cssMenu li.over ul ul,
ul.cssMenu ul {
  display: none;
}

/* show hovered submenus */
.no-touch ul.cssMenu li:hover li:hover li:hover li:hover ul,
.no-touch ul.cssMenu li:hover li:hover li:hover ul,
.no-touch ul.cssMenu li:hover li:hover ul,
.no-touch ul.cssMenu li:hover ul,
ul.cssMenu li.over li.over li.over li.over ul,
ul.cssMenu li.over li.over li.over ul,
ul.cssMenu li.over li.over ul,
ul.cssMenu li.over ul {
  display: block;
}

/* RIGHT type menus */

ul.cmRight span.buttonArrow {
  float: right;
  position: absolute;
  right: 0;
  top: 0;
  background-position: 0 0;
}

ul.cmRight li {
  float: none;
}

ul.cmRight li ul,
ul.cmRight li ul li ul {
  left: 200px;
  top: -2px;
}

/* << ----------------// Left column //---------------->> */

.col_left {
  float: left;
  margin: 0;
  width: 200px;
  height: 100%;
}

.col_left_top {
  height: 40px;
  width: 200px;
  background: url("../../images/col_left_top.png");
}

.col_left ol li,
.col_left p,
.col_left ul li,
.col_right ol li,
.col_right p,
.col_right ul li {
  font-size: 13px;
}

.col_left h2,
.col_right h2 {
  font-size: 16px;
}

/* << ----------------// Top (full width) area (full-width)  //---------------->> */

.fullwidthcontainer .bottom,
.fullwidthcontainer .content,
.fullwidthcontainer .mid,
.fullwidthcontainer .right,
.fullwidthcontainer .top {
  padding: 0;
  margin: 0;
  border: none;
}

.fullwidthcontainer .wgt_container {
  margin: 0 0 10px;
}

.fullwidthcontainer .content {
  margin-left: 20px;
  margin-right: 20px;
  background-color: #FFF;
}

.fullwidthcontainer .bottom .content,
.fullwidthcontainer .top .content {
  font-weight: bold;
  font-size: 11px;
  text-align: left;
  line-height: 20px;
}

.fullwidthcontainer .bottom,
.fullwidthcontainer .mid,
.fullwidthcontainer .top {
  width: 100%;
}

.fullwidthcontainer .right {
  width: 100%;
}

.fullwidthcontainer .bottom,
.fullwidthcontainer .bottom .content,
.fullwidthcontainer .top,
.fullwidthcontainer .top .content {
  height: 20px;
}

/* Note: Defaults to using col_ctr images */
.fullwidthcontainer .top {
  background: url("../../images/wgt_col_ctr_top_left.png") no-repeat left top;
}

.fullwidthcontainer .top .right {
  background: url("../../images/wgt_col_ctr_top_right.png") no-repeat right top;
}

.fullwidthcontainer .top .content {
  background: url("../../images/wgt_col_ctr_top_ctr.png") repeat-x top;
}

.fullwidthcontainer .mid {
  background: url("../../images/wgt_col_ctr_mid_left.png") repeat-y left;
}

.fullwidthcontainer .mid .right {
  background: url("../../images/wgt_col_ctr_mid_right.png") repeat-y right;
}

.fullwidthcontainer .mid .content {
  background: url("../../images/wgt_col_ctr_mid_ctr.png");
  padding: 5px 0;
}

.fullwidthcontainer .bottom {
  background: url("../../images/wgt_col_ctr_btm_left.png") no-repeat left bottom;
}

.fullwidthcontainer .bottom .right {
  background: url("../../images/wgt_col_ctr_btm_right.png") no-repeat right bottom;
}

.fullwidthcontainer .bottom .content {
  background: url("../../images/wgt_col_ctr_btm_ctr.png") repeat-x bottom;
}

/* << ----------------// Left widget //---------------->> */

.col_left .bottom,
.col_left .content,
.col_left .mid,
.col_left .right,
.col_left .top {
  padding: 0;
  margin: 0;
  border: none;
}

.col_left .wgt_container {
  width: 190px;
  margin: 0 0 10px;
}

.col_left .content {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #FFF;
}

.col_left .bottom .content,
.col_left .top .content {
  color: #FFF;
  font-weight: bold;
  font-size: 11px;
  text-align: left;
  line-height: 20px;
}

.col_left .bottom,
.col_left .mid,
.col_left .top {
  width: 100%;
}

.col_left .right {
  width: 100%;
}

.col_left .bottom,
.col_left .bottom .content,
.col_left .top,
.col_left .top .content {
  height: 20px;
}

.col_left .top {
  background: url("../../images/wgt_col_left_top_left.png") no-repeat left top;
}

.col_left .top .right {
  background: url("../../images/wgt_col_left_top_right.png") no-repeat right top;
}

.col_left .top .content {
  background: url("../../images/wgt_col_left_top_ctr.png") repeat-x top;
}

.col_left .mid {
  background: url("../../images/wgt_col_left_mid_left.png") repeat-y left;
}

.col_left .mid .right {
  background: url("../../images/wgt_col_left_mid_right.png") repeat-y right;
}

.col_left .mid .content {
  background: url("../../images/wgt_col_left_mid_ctr.png");
  padding: 5px 0;
}

.col_left .bottom {
  background: url("../../images/wgt_col_left_btm_left.png") no-repeat left bottom;
}

.col_left .bottom .right {
  background: url("../../images/wgt_col_left_btm_right.png") no-repeat right bottom;
}

.col_left .bottom .content {
  background: url("../../images/wgt_col_left_btm_ctr.png") repeat-x bottom;
}

/* << ----------------// Center column //---------------->> */

.col_ctr {
  float: left;
  margin: 0;
  padding: 0;
  width: 600px;
}

.col_ctr_top {
  height: 40px;
  width: 100%;
  background: url("../../images/col_ctr_top.png");
}

/* << ----------------// Center widget //---------------->> */

.col_ctr .bottom,
.col_ctr .content,
.col_ctr .mid,
.col_ctr .right,
.col_ctr .top {
  padding: 0;
  margin: 0;
  border: none;
}

.col_ctr .wgt_container {
  width: 590px;
  margin: 0 5px 10px;
}

.col_ctr .content {
  margin-left: 20px;
  margin-right: 20px;
  background-color: #FFF;
}

.col_ctr .bottom .content,
.col_ctr .top .content {
  color: #FFF;
  font-weight: bold;
  font-size: 12px;
  text-align: left;
}

.bottom,
.col_ctr .mid,
.col_ctr .top {
  width: 100%;
}

.col_ctr .right {
  width: 100%;
}

.col_ctr .bottom,
.col_ctr .bottom .content,
.col_ctr .top,
.col_ctr .top .content {
  height: 20px;
}

.col_ctr .top {
  background: url("../../images/wgt_col_ctr_top_left.png") no-repeat left top;
}

.col_ctr .top .right {
  background: url("../../images/wgt_col_ctr_top_right.png") no-repeat right top;
}

.col_ctr .top .content {
  background: url("../../images/wgt_col_ctr_top_ctr.png") repeat-x top;
}

.col_ctr .mid {
  background: url("../../images/wgt_col_ctr_mid_left.png") repeat-y left;
}

.col_ctr .mid .right {
  background: url("../../images/wgt_col_ctr_mid_right.png") repeat-y right;
}

.col_ctr .mid .content {
  background: url("../../images/wgt_col_ctr_mid_ctr.png");
  padding: 5px 0;
}

.col_ctr .bottom {
  background: url("../../images/wgt_col_ctr_btm_left.png") no-repeat left bottom;
}

.col_ctr .bottom .right {
  background: url("../../images/wgt_col_ctr_btm_right.png") no-repeat right bottom;
}

.col_ctr .bottom .content {
  background: url("../../images/wgt_col_ctr_btm_ctr.png") repeat-x bottom;
}

/* << ----------------// Right column //---------------->> */

.col_right {
  float: left;
  margin: 0;
  padding: 0;
  width: 200px;
}

.col_right_top {
  height: 40px;
  width: 200px;
  background: url("../../images/col_right_top.png");
}

/* << ----------------// Right widget //---------------->> */

.col_right .bottom,
.col_right .content,
.col_right .mid,
.col_right .right,
.col_right .top {
  padding: 0;
  margin: 0;
  border: none;
}

.col_right .wgt_container {
  width: 190px;
  margin: 0 0 10px;
}

.col_right .content {
  margin-left: 10px;
  margin-right: 10px;
  background-color: #FFF;
}

.col_right .bottom .content,
.col_right .top .content {
  color: #FFF;
  font-weight: bold;
  font-size: 11px;
  text-align: left;
  line-height: 20px;
}

.col_right .bottom,
.col_right .mid,
.col_right .top {
  width: 100%;
}

.col_right .right {
  width: 100%;
}

.col_right .bottom,
.col_right .bottom .content,
.col_right .top,
.col_right .top .content {
  height: 20px;
}

.col_right .top {
  background: url("../../images/wgt_col_right_top_left.png") no-repeat left top;
}

.col_right .top .right {
  background: url("../../images/wgt_col_right_top_right.png") no-repeat right top;
}

.col_right .top .content {
  background: url("../../images/wgt_col_right_top_ctr.png") repeat-x top;
}

.col_right .mid {
  background: url("../../images/wgt_col_right_mid_left.png") repeat-y left;
}

.col_right .mid .right {
  background: url("../../images/wgt_col_right_mid_right.png") repeat-y right;
}

.col_right .mid .content {
  background: url("../../images/wgt_col_right_mid_ctr.png");
  padding: 5px 0;
}

.col_right .bottom {
  background: url("../../images/wgt_col_right_btm_left.png") no-repeat left bottom;
}

.col_right .bottom .right {
  background: url("../../images/wgt_col_right_btm_right.png") no-repeat right bottom;
}

.col_right .bottom .content {
  background: url("../../images/wgt_col_right_btm_ctr.png") repeat-x bottom;
}

/* << ----------------// Footer //---------------->> */

.footer {
  position: relative;
  margin: auto;
  padding: 0;
  height: 55px;
  font-size: 10px;
  color: #FFFFFF;
  background: url("../../images/footer.png");
  clear: both;
}

.footer a:link {
  color: #FFF;
  text-decoration: none;
}

.footer a:visited {
  color: #FFF;
  text-decoration: none;
}

.footer a:hover {
  color: #FFF;
  text-decoration: underline;
}

.footer a:active {
  color: #FFF;
  text-decoration: none;
}

/* << ----------------// New logo in footer replacement //---------------->> */

.bonzi_logo a {
  background: transparent url("../../images/memberhome_footer-logo.png") no-repeat top left !important;
  background-size: contain !important;
  padding-top: 0;
  height: 52px;
  width: 111px;
  display: inline-block;
}

.bonzi_logo a img {
  display: none !important;
}

/* << ----------------// Fix so that the outer DIV will wrap around all floated DIVs within //---------------->> */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  display: inline-table;
}

/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}
/* End hide from IE-mac */

/* << ----------------// TRINKET STYLES //---------------->> */

/* << ----------------// RSS / Twitter Feed Widget //---------------->> */

.RT_RssFeed .date {
  font-size: .75em;
  font-style: italic;
  display: block;
}

.RT_RssFeed .item {
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.RT_RssFeed {
  margin-left: 0;
  list-style: none;
}

.RT_RssFeed h3 {
  font-size: 13px;
}

/* << ----------------// AD BANNERS //---------------->> */

.sam_ad_banner > div {
  margin: 0 auto;
  padding: 10px;
}

.welcome-section {
  width: 280px;
}

.login-section {
  background: white;
}

.col_ex_right {
  float: left;
  margin: 0;
  padding: 0;
  width: 320px;
  background: white;
}

.login-card,
.welcome-card {
  position: relative;
  padding: 20px;
  width: 270px;
  margin: 0 auto;
  overflow: hidden;
  height: 480px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.login-card .logo-card,
.welcome-card .logo-card {
  padding: 0 0 15px;
  text-align: center;
}

.login-card .logo-card img,
.welcome-card .logo-card img {
  width: 55%;
}

.welcome-card .welcomeLabel {
  font-size: 1rem;
  padding: 0 10px;
  font-weight: 600;
}

.welcome-card .welcomeLabel > span {
  text-transform: capitalize;
}

.login-card .helpAndFaq,
.welcome-card .helpAndFaq {
  position: absolute;
  /* background-color: #3b2563; */
  background: url(../../images/wgt_col_ctr_top_ctr.png);
  bottom: -5px;
  left: 0;
  right: 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.welcome-card hr {
  border-left: none;
  border-right: none;
  border-top: 1px gray !important;
  padding-top: 5px;
}

.login-card h1 {
  font-weight: 100;
  text-align: center;
  font-size: 2.3em;
  margin: 0;
}

.login-card h3 {
  font-weight: 100;
  text-align: center;
  font-size: 1.5em;
  margin: 0;
}

.login-card label {
  font-size: 1rem;
  font-weight: bold;
}

.login-card button[type=submit] {
  width: 100%;
  display: block;
  margin: 10px 0;
  position: relative;
}

.login-card input[type=text],
input[type=password] {
  height: 30px;
  font-size: 16px;
  width: 100%;
  margin: 0 0 15px;
  -webkit-appearance: none;
  background: #fff;
  border: none;
  border-bottom: 1px solid #d9d9d9;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

input[type=password] {
  margin: 0 0 10px;
}

.login-card input[type=text]:hover,
input[type=password]:hover {
  border: none;
  border-bottom: 1px solid #a0a0a0;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ccc;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #ccc;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #ccc;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #ccc;
}

.login {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
}

.login-submit {
  border: 0;
  width: 100%;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: red;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.login-submit:hover {
  border: 0;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: red;
}

.login-card a {
  font-style: italic;
  font-size: 1.2em;
  color: #666;
  font-weight: 600;
  text-align: center;
  display: inline-block;
  opacity: .6;
  transition: opacity ease .5s;

}

.login-card a:hover {
  opacity: 1;
}

.login-help {
  width: 100%;
  font-size: 12px;
  margin-bottom: 35px;
}

.login-card .helpAndFaq a,
.welcome-card .helpAndFaq a {
  font-style: normal;
  font-size: 1rem;
  font-weight: normal;
  color: white;
  text-align: center;
  padding: 15px 35px;
  opacity: 1;
  width: calc(50% - 72px);
  text-decoration: none;
}

.login-card .helpAndFaq .helpDivider,
.welcome-card .helpAndFaq .helpDivider {
  width: 3px;
  top: 10px;
  background-color: #3b7dab;
  overflow: hidden;
  float: left;
  height: 25px;
  position: relative;
}

#accordMenu {
  height: 300px;
  width: 280px;
  margin: 0;
}

#accordMenu ul.acdnTop {
  display: block;
  padding-left: 0;
}

#accordMenu a.acdnLink,
#accordMenu div.acdnHeading {
  color: #000000;
  font-family: 'Agenda Bg';
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  outline: medium none;
  padding: 8px 8px 8px 24px;
  text-align: left;
  text-decoration: none;
  font-weight: 600;
}

#accordMenu a.acdnLink:hover,
#accordMenu div.acdnCurrent,
#accordMenu div.acdnCurrent a.acdnLink,
#accordMenu div:hover {
  background-position: 0 -64px;
  color: #000000;
  text-decoration: none;
}

#accordMenu a.acdnCurrent,
#accordMenu a.acdnCurrent:hover {
  color: #336699;
  text-decoration: none;
}

#accordMenu div.acdnArrowImage {
  height: 20px;
  left: 0;
  top: 9px;
  width: 15px;
  color: #b3b3b3;
  font-size: 1.5rem;
  pointer-events: none;
}

#accordMenu div.acdnArrowImage::before {
  content: '\25B8';
}

#accordMenu div.acdnCurrent div.acdnArrowImage {
  color: red;
}

#accordMenu div.acdnCurrent div.acdnArrowImage:before {
  content: '\25BE';
}

#accordMenu li.acdnSeparator {
  padding: 0;
  margin: 0;
  font-size: 0;
  padding-bottom: 5px;
}

#accordMenu ul.acdnSub {
  padding-left: 14px;
}

#accordMenu ul.acdnSub div.acdnHeading {
  background: none repeat scroll 0 0 transparent;
  color: #000000;
  font: 12px Arial;
  padding: 5px 5px 5px 20px;
  text-align: left;
}

#accordMenu ul.acdnSub div.acdnHeading a {
  color: #000000;
}

#accordMenu ul.acdnSub div.acdnCurrent {
  background: none repeat scroll 0 0 transparent;
  color: #000000;
}

#accordMenu ul.acdnSub a.acdnLink {
  background: none repeat scroll 0 0 transparent;
  color: #000000;
  font: 11px Arial;
  padding: 5px 5px 5px 20px;
  text-decoration: none;
}

#accordMenu ul.acdnSub a.acdnCurrent,
#accordMenu ul.acdnSub a.acdnLink:hover,
#accordMenu ul.acdnSub div.acdnHeading a.acdnCurrent,
#accordMenu ul.acdnSub div.acdnHeading a:hover {
  background: none repeat scroll 0 0 transparent;
  color: #000000;
  text-decoration: underline;
}

#accordMenu ul.acdnSub div.acdnArrowImage {
  background-image: url("../../images/arrows.gif");
  background-position: 0 -24px;
  height: 12px;
  left: 4px;
  top: 6px;
  width: 12px;
}

#accordMenu ul.acdnSub div.acdnCurrent div.acdnArrowImage {
  background-position: 0 -36px;
}

#accordMenu,
#accordMenu ul {
  display: block;
  font-size: 0;
  line-height: 0;
}

#accordMenu li {
  font-size: 12px;
  line-height: 16px;
}

#accordMenu:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

#accordMenu ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  top: 0;
  display: none;
}

#accordMenu li {
  margin: 0;
  padding: 0;
}

#accordMenu div.acdnCurrent,
#accordMenu div.acdnHeading {
  cursor: pointer;
  position: relative;
}

#accordMenu div.acdnArrowImage {
  overflow: hidden;
  position: absolute;
}
